<div style="background-color: black; padding: 1%;">&nbsp;&nbsp;</div><br>



<div style="padding: 5%;">
  <div class="container">
    <div  class="flowerSlides">
      <img   src="../assets/image1.jpg" style="width:100%"   >
    </div>
  
    <div class="flowerSlides">
      <img  src="../assets/image2.jpg" style="width:100%">
    </div>
  
    <div class="flowerSlides">
      <img src="../assets/image3.jpg" style="width:100%">
    </div>
      
    <div class="flowerSlides">
      <img src="../assets/image4.jpg" style="width:100%">
    </div>
  
    <div class="flowerSlides">
      <img src="../assets/image5.jpg" style="width:100%">
    </div>
      
    <div class="flowerSlides">
      <img src="../assets/image6.jpg" style="width:100%">
    </div>
    
     <div class="flowerSlides">
      <img src="../assets/image7.jpg" style="width:100%">
    </div>
    
     <div class="flowerSlides">
      <img  src="../assets/image8.jpg" style="width:100%">
    </div>
      
  
  </div>
  
  
  <br>



<div class="row" style="margin-left: 5%;margin-right: -5%;" >
  <div  class="column">
    <img  class="demo cursor img-height" src="../assets/image1.jpg" style="width:100%" (click)="fSlide(1)"  >
  </div>
  <div class="column">
    <img class="demo cursor img-height" src="../assets/image2.jpg" style="width:100%" (click)="fSlide(2)">
  </div>
  <div class="column">
    <img class="demo cursor img-height" src="../assets/image3.jpg" style="width:100%" (click)="fSlide(3)">
  </div>
  <div class="column">
    <img class="demo cursor img-height" src="../assets/image4.jpg" style="width:100%" (click)="fSlide(4)">
  </div>
  <div class="column">
    <img class="demo cursor img-height" src="../assets/image5.jpg" style="width:100%" (click)="fSlide(5)">
  </div>    
  <div class="column">
    <img class="demo cursor img-height" src="../assets/image6.jpg" style="width:100%" (click)="fSlide(6)">
  </div>
   <div class="column">
    <img class="demo cursor img-height" src="../assets/image7.jpg" style="width:100%" (click)="fSlide(7)">
  </div>
   <div class="column">
    <img class="demo cursor img-height" src="../assets/image8.jpg" style="width:100%" (click)="fSlide(8)">
  </div>

</div>

  <br>

<div style="background-color: black; padding: 1%;" >&nbsp;&nbsp;</div>